.mainWrapper {
  padding: 0;
}
.btn-margin {
  margin: 7px 3px;
}
.siteHeader {
  position: absolute;
  right: 20px;
  top: 10px;
}
.header-0-4 {
  min-height: 650px;
  background-size: cover;
  background-image: url(https://cdn.honey.io/images/landing/honey-button/yellow-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.headerWrap-0-5 {
  margin: 0px auto;
  height: 650px;
  display: flex;
  max-width: 1170px;
  justify-content: flex-end;
}
.rightContent-0-6 {
  width: 100%;
  display: flex;
  max-width: 586px;
  flex-direction: column;
  justify-content: center;
}
*[id^='honey'] .h1 {
  font-family: Eina03,Open Sans,sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 53px;
}
.headerText-0-7 {
  color: #292a2a;
}
.headerBottomText-0-8 {
  color: #505050;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 28px;
}
.installButton-0-10 {
  width: 233px;
}
#honey .h-btn.h-flexible {
  overflow: hidden;
  width: 100%;
  padding: 0;
}
#honey .h-btn.h-primary {
  background-color: #ff7227;
  border-color: #ff7227;
}
#honey .h-btn.h-size50 {
  height: 50px;
  padding: 0 24px;
}
#honey .h-btn {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}
#honey .h-btn-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#honey .h-btn.h-size50 .h-btn-copy {
  font-size: 16px;
}
#honey .h-btn .h-btn-copy {
  margin: 0px !important;
}
#honey .h-btn-copy {
  color: #fff;
  font-weight: 600;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-transition: .2s;
  transition: .2s;
  white-space: nowrap;
}
.howItWorks-0-17 {
  background-color: #fafafa;
}
.section-0-16 {
  padding: 60px 0px 90px;
  text-align: center;
}
*[id^='honey'] .h2 {
  font-family: Eina03,Open Sans,sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
}
.title-0-15 {
  color: #292a2a;
  padding-bottom: 20px;
}
.howitWorksContent-0-18 {
  margin: 80px auto 0px;
  display: flex;
  max-width: 1300px;
  align-items: flex-end;
  justify-content: space-around;
}
.howItWorksCol-0-19 {
  margin: 0px 10px;
}
.howItWorksColTitle-0-20 {
  color: #292a2a;
  margin: 20px 0px 10px;
  font-size: 20px;
  font-weight: 600;
}
.howItWorksColDescription-0-21 {
  color: #808080;
  font-size: 16px;
  max-width: 200px;
  font-weight: 500;
}
.saveStores-0-22 {
  background-color: #eeeeee;
}
.section-0-16 {
  padding: 60px 0px 90px;
  text-align: center;
}
.saveStoresDescription-0-23 {
  color: #808080;
  font-size: 16px;
}
.saveStoresLogos-0-24 {
  margin: 50px auto 0px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
}
.saveStoresLogos-0-24 a {
  cursor: default;
}
.hide-0-38 {
  display: none;
}
.saveStoresLogo-0-25 {
  width: 100px;
  margin: 30px 60px;
  max-height: 60px;
}
.timeQuote-0-26 {
  display: flex;
  min-height: 480px;
  padding-top: 80px;
  background-size: cover;
  justify-content: center;
  background-image: url(https://cdn.honey.io/images/landing/honey-button/ripples.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.section-0-16 {
  padding: 60px 0px 90px;
  text-align: center;
}
.honeyExtension-0-27 {
  max-width: 670px;
  align-self: baseline;
  margin-right: 30px;
}
.timeQuoteImage-0-28 {
  margin: 20px 0px 40px;
  max-width: 368px;
  align-self: baseline;
}
.installButton-0-10 {
  width: 233px;
}
#honey .h-btn.h-flexible {
  overflow: hidden;
  width: 100%;
  padding: 0;
}
#honey .h-btn.h-primary {
  background-color: #ff7227;
  border-color: #ff7227;
}
#honey .h-btn.h-size50 {
  height: 50px;
  padding: 0 24px;
}
#honey .h-btn {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}
#honey .h-btn-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#honey .h-btn.h-size50 .h-btn-copy {
  font-size: 16px;
}
#honey .h-btn .h-btn-copy {
  margin: 0px !important;
}
#honey .h-btn-copy {
  color: #fff;
  font-weight: 600;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-transition: .2s;
  transition: .2s;
  white-space: nowrap;
}
.pressQuotes-0-30 {
  background-color: #eeeeee;
}
.pressQuotesInner-0-31 {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  align-items: flex-end;
  justify-content: space-around;
}
.pressQuote-0-29 {
  margin: 0px 10px 50px;
}
.pressQuoteLogo-0-33 {
  margin-bottom: 15px;
}
.pressQuoteDescription-0-34 {
  color: #808080;
  margin: 0px auto;
  font-size: 14px;
  max-width: 180px;
  font-weight: 500;
}
.main-0-52 {
  width: 100%;
  bottom: 0px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topBorder-0-53 {
  top: 0px;
  width: 100%;
  margin: 0px auto;
  border-top: 1px solid #e7e7e7;
}
.links-0-56 {
  order: 2;
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
.main-0-58 {
  text-align: center;
}
.link-0-59 {
  color: #b0b0b0;
  margin: 0px 16px;
  font-size: 12px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .howItWorksCol-0-19 {
      margin: 25px 0px;
  }
  .howitWorksContent-0-18 {
      margin-top: 0px;
      align-items: center;
      flex-direction: column;
  }
  .howitWorksContent-0-18 {
      margin: 80px auto 0px;
      display: flex;
      max-width: 1300px;
      align-items: center;
      justify-content: space-around;
  }
  .saveStoresLogo-0-25 {
      margin: 30px;
  }
  .timeQuote-0-26 {
    padding-top: 40px;
    flex-direction: column-reverse;
  }
  .honeyExtension-0-27 {
    margin: 40px auto 0px;
    max-width: 75%;
  }
  .timeQuoteImage-0-28 {
    max-width: 270px;
    margin-left: 50px;
  }
  .installButton-0-10 {
    margin: 0px auto;
  }
  
}